[Unit]
Description=External Disk
ConditionPathExists=/dev/disk/by-uuid/fb28688f-a5cb-46d6-b370-9f03fd1e3463

[Mount]
What=/dev/disk/by-uuid/fb28688f-a5cb-46d6-b370-9f03fd1e3463
Where=/mnt/ext
Type=ext4
Options=defaults,noatime

[Install]
WantedBy=multi-user.target